.pList{
display: flex;
gap:20px;
width: 100%;
max-width: 1024px;
justify-content: space-between;

}

.pListItem{
    flex:1;
border-radius: 10px;
overflow: hidden;
cursor: pointer;
}

.pListImg{
width:100%;
height:150px;
object-fit: cover;
}

.pListTitle>h1{
font-size: 18p;
}

.pListTitle>h2{
    font-size: 14px;
    font-weight: 300;
}